/*pseudoselectores: son selectores que inician con : pero no existen como tal en el html, son seudoelementos, no existen pero root es se usa para guardar variables o o que se llama como Custom Properties*/
:root {
    /* Definimos nuestra paleta de colores */
    --Primario: #f09000;
    /*--Secundario: #ec008c;*/
    --Secundario: #d6c100;
    --Tercero: #212121;
    --Cuarto: #333333;


    /*Letra 1
        font-family: "Charm", serif;
        font-weight: 700;
        font-style: normal;*/

    /* Letra 2
    font-family:monospace;
  */

    /* Letra 3
  font-family: "Just Another Hand", serif;
  font-weight: 400;
  font-style: normal;
*/
}

                                        /* Globales */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: monospace;
    /*Con esas 2 lineas de atras usamos "rem" la cual es un atributo que proporciona el tamaño a los diferentes tamaños de pantalla que existen*/

    /* Color de fondo como un degradado */
    /*background-image: linear-gradient(to top, #ffff  0%, #000 100%);*/
    background-color: var(--Tercero);
    color: white;


}

header {
    position: fixed; /*Me pone esto fijo en todo el html port mas que desplace*/
    width: 100%;
    padding: 0.1rem;
    text-align: center;
    color: var(--Primario);
    background-color: #212121;
    z-index: 1000;
    /* Asegura que el header esté sobre otros elementos */
}

.Contenedor {
    text-align: center;
    max-width: 120rem;
    margin: 0 auto 0 auto;
}


.Boton {
    background-color: white;
    color: black;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.5 rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.9rem;
    text-align: center;
    border: none;
}


.Boton:hover {
    cursor: pointer;
    background-color: var(--Secundario);
}

.Sombra {
    /*Box Shadow: 
    1) Que tan separado de la izquierda
    2) que tan sepadaro de arriba
    3) Que tan lejos va la sombra
    4) que tanto alumbra la sombra*/

    box-shadow: 0rem 0rem 6rem 1rem var(--Primario);
    background-color: #464646;
    padding: 2rem;
    border-radius: 4rem;
}

/* TipoGrafia */
h1 {
    text-align: center;
    font-size: 3.8 rem;
    color: var(--Primario);
}

h2,
h3 {
    text-align: center;
    color: var(--Secundario);
}

p {
    text-align: left;
}

/*Utilidades*/
.W-100 {
    width: 100%;
}

.Alinear-Derecha {
    justify-content: flex-end;
}

.Flex {
    display: flex;

}

/********************************** Navegacion Principal **********************************/
.NavBackground {
    background-color: var(--Primario);
    padding: 1rem;
    margin-bottom: 4rem;
}

.NavegacionPrincipal {
    /*Propiedad ara distribuir mis enlaces*/
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.NavegacionPrincipal a

/*El a hace referencia a los enlaces*/
    {
    display: block;
    text-align: center;
    color: black;
    /*Cambiando el color de la letra  */
    font-size: 2rem;
    font-weight: bold;
    /*Negrila*/
    padding: 1rem;
    text-decoration: none;
}

.NavSelected {
    color: white;
}


.NavegacionPrincipal a:hover

/*Efecto que se genera cuando el mouse se para encima de un enlace*/
    {
    background: black;
    color: var(--Primario);
    border-radius: 2rem;
}



/*Presentacion*/
.TituloUnder {
    margin: 4rem;
    text-align: center;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--Secundario);
    font-size: 3rem;
    /*-webkit-text-stroke: 0.01rem white; /* Borde de las letras */
}

.Parte_1 {
    background-color: var(--Cuarto);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    border-radius: 3rem;
}

.Presentacion {
    /* Usando Grid */
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 1rem;
    /*Que la el contenido de cada celda quene un poco retirado de a misma celda*/
}

/*Editando el logo*/
.Presentacion img {
    max-width: 100%;
    /* Limita el ancho máximo de la imagen al 100% del div */
    max-height: 100%;
    /* Limita la altura máxima de la imagen al 100% del div */
    width: auto;
    /* Mantiene la relación de aspecto (no distorsiona la imagen) */
    height: auto;
    /* Mantiene la relación de aspecto (no distorsiona la imagen) */
    object-fit: contain;
    /* Asegura que la imagen se ajuste sin recortarse */
    border-radius: 50% 50%;
}

.Celda_V1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 3rem;
    padding: 2rem;
}

.Celda_V1 p {
    line-height: 2;
}

.Celda_V2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 3rem;
    padding: 2rem;
    background-color: var(--Cuarto);
}

/*Segunda fila de presentacion*/
.Presentacion_P2 {
    /* Usando Grid */
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1rem;
    /*Que la el contenido de cada celda quene un poco retirado de a misma celda*/
}

.Presentacion_P2 strong {
    color: var(--Primario)
}

.AjustesGrid strong {
    color: var(--Primario);
}

.Grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columnas */
    /*    grid-template-rows: 1fr 1fr; /* 2 filas */
    column-gap: 1rem;
    /*Espacion Entre Columnas*/
}

.G1Item-1 {
    grid-column: span 2;
    /* Ocupa 2 columnas */
}

.Servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    border-radius: 3rem;
    padding: 2rem;
}

.Servicio h3 {
    color: var(--Primario);

}

.Servicio p {
    line-height: 2;
}

.Servicio .Iconos {
    height: 15rem;
    width: 15rem;
    color: var(--Primario);
    /* Color de lo iconos jaja yo lo descubri po accidente*/
    background-color: var(--Secundario);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Slider Galeria*/
.Slider_Galeria {
    display: flex;
    width: auto;
    height: 46.8rem;
}

.Slider_Galeria img {
    width: 0rem;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
}

.Slider_Galeria img:hover {
    cursor: crosshair;
    width: 22.75rem;
    opacity: 1;
    filter: contrast(120%);
}



/*Contacto*/
.Formulario {
    background-color: var(--Tercero);
    width: min(60rem, 100%);
    /*Utilizar el valor mas pequeño*/
    margin: 0 auto;
    /*Centrado Horizontal*/
    padding: 2rem;
    border-radius: 2rem;

}

.Formulario fieldset {
    border: none;
}

.Formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    /*Mayusculas*/
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--Secundario);
}

.Contactanos
/*padre y es un Div*/
    {
    text-align: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 1rem;
    justify-content: center;
    /*Centrando Botones*/

}

.Contactos
/*Hijos y son los section*/
    {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.Contactos p {
    text-align: center;
}

.IconosRedes {
    /* Color de lo iconos jaja yo lo descubri po accidente*/
    color: var(--Primario);
}

.BotonContactanos {
    background-color: black;
    color: white;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.9rem;
    text-align: center;
    border: none;
}

.BotonContactanos:hover {
    background-color: var(--Secundario);
    color: black;
}



/*Footer*/
.Footer {
    margin: 4rem;
    text-align: center;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}

.Footer p {
    text-align: center;
}


                           /*RESPONSIBELY*/

/*PANTALLAS DE 320 y 480 MAX*/
@media (max-width: 480px) {

    /*Globales*/
    .Boton {
        width: auto;
    }

    html {
        font-size: 50%;
    }
    h1
    {
        font-size: 100%;
    }
    .NavegacionPrincipal
    {
        margin-top: 4.5rem;
        width: 100%;
    }

    /*SECCION PRESENTACION ELITE*/
    .Presentacion{
        display: block;
    }
    .Presentacion_P2{
        display: block;
    }
    .Grid_1{
        display: block;
    }
    .Servicios section
    {
        margin-top: 3rem;
    }

    /*SECCION CONTACTO*/
    .Formulario
    {
        width: auto; /*Ajutasno el fondo negro del formulario*/
    }
    .Contactanos{
        grid-template-columns: auto;
    }
    /*Contactanos ´Parte 2*/
    .ContactanosParte2 p
    {
        font-size: 1.6rem;
    }
}


/*PANTALLAS APARTIR DE 768px*/
@media(min-width:768px)

/*Se usa para modificar el estilo del sitio web cuando se va cambiando el tamañao de la pantalla*/
    {
    .NavegacionPrincipal {
        flex-direction: row;
        justify-content: space-between;
        /*Depende de display:flex*/
    }
    .Servicios {
            /*Nota: la etiqueta se llama serivicos pero en Elite es la seccion de datos curisosos*/
            /* Usando Grid */
            display: grid;
            grid-template-columns: 50% 50%;
            column-gap: 1rem;
            /*Que la el contenido de cada celda quene un poco retirado de a misma celda*/
    }

}
